# Azure Document Intelligence 
AZURE_FORM_ENDPOINT=https://TU-RECURSO.cognitiveservices.azure.com/
AZURE_FORM_KEY=TU_CLAVE_AQUI

# Azure OpenAI 
AZURE_OPENAI_ENDPOINT=https://TU-OPENAI.openai.azure.com/
AZURE_OPENAI_KEY=TU_CLAVE_OPENAI
AZURE_OPENAI_DEPLOY=gpt-4o          # Nombre de la IA usada en Azure (En caso de utilizar Open AI en Azure)

# Azure Blob Storage (opcional) 
AZURE_STORAGE_CONN=DefaultEndpointsProtocol=https;AccountName=...
AZURE_CONTAINER=cvs